# Python
venv/
__pycache__/
*.pyc
*.sqlite3
.env

# Django collectstatic
planatease-backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/
frontend/build/

# General
.DS_Store

.vscode/

login.json

# Coverage reports
.coverage
htmlcov/